* {
    font-size: 16px;
    min-height: 0px;
    border-radius: 0px;
}

#waybar {
    background: #282a36;
    border: 1px solid #bd93f9;
}

.modules-left {
    margin-left: 4px;
}

.modules-right {
    margin-right: 4px;
}

#tags button:hover {
    background: none;
}

#tags button.focused {
    color: #bd93f9;
    padding: 0px 2px;
}

#clock, #wireplumber, #tags button {
    color: #f8f8f2;
    margin: 2px 0px;
    padding: 0px 2px;
}
