* {
    all: unset;
    font-size: 16px;
}

.modules-left {
    margin-left: 4px;
}

.modules-right {
    margin-right: 4px;
}

#waybar {
    background: #282a36;
    border: 1px solid #bd93f9;
}

#clock,
#wireplumber,
#tags button {
    color: #f8f8f2;
    padding: 0px 4px;
}

#tags button.focused {
    color: #bd93f9;
    padding: 0px 4px;
}
