* {
    border-radius: 0px;
    outline-style: none;
    background-image: none;
}

#text {
    all: initial;
    margin: 4px;
}

#window {
    background: #282a36;
    border: 1px solid #bd93f9;
}

#outer-box {
    margin: 4px;
}

#input {
    border: none;
    margin-bottom: 4px;
    background: #44475a;
    border-bottom: 1px solid #bd93f9;
}

#entry:selected {
    background: #bd93f9;
}

#text:selected {
    color: #44475a;
}
