* {
    font-size: 16px;
    border-radius: 0px;
    outline-style: none;
    background-image: none;
}

#input * {
    color: #bd93f9;
}

#text:selected {
    color: #282a36;
}

#entry {
    margin: 0px 4px 4px;
}

#entry:selected {
    background: #bd93f9;
}

#window {
    background: #282a36;
    border: 1px solid #bd93f9;
}

#text {
    all: initial;
    margin: 4px;
    color: #f8f8f2;
    font-size: 16px;
}

#input {
    margin: 4px;
    border: none;
    color: #f8f8f2;
    background: #44475a;
}
